/* CSS Document Sprawk Style  */
.sprawk-fieldset #edit-sprawk-field-to-lang,
.sprawk-fieldset label{
	float:left;
}

.sprawk-tr-button {
	background-image:url(images/translate18.gif);
	border:none; 
	margin-right:10px ; 
	width :18px;
}

.sprawk-fieldset {
	
}

/* cleaned word doc html */
.sword table td, .sword table th {
	padding: 3px;
}

.sword table h1 {
  font-size: 150%;
}

.sword table h2 {
  font-size: 135%;
}

.sword table h3 {
  font-size: 120%;
}
